<h1>Angular date-fns pipes</h1>
<p>
  Today is <code>{{ today | dfnsFormat : 'D MMMM YYYY' }}</code>.
</p>
<p>
  Min. date between
  <code>{{ today | dfnsFormat : 'YYYY/MM/DD' }}</code>,
  <code>{{ tomorrow | dfnsFormat : 'YYYY/MM/DD' }}</code> and
  <code>{{ yesterday | dfnsFormat : 'YYYY/MM/DD' }}</code> is
  <code>{{ [today, tomorrow, yesterday] | dfnsMin | dfnsFormat : 'D MMMM YYYY' }}</code>.
</p>
<p>
  Max. date between
  <code>{{ today | dfnsFormat : 'YYYY/MM/DD' }}</code>,
  <code>{{ tomorrow | dfnsFormat : 'YYYY/MM/DD' }}</code> and
  <code>{{ yesterday | dfnsFormat : 'YYYY/MM/DD' }}</code> is
  <code>{{ [today, tomorrow, yesterday] | dfnsMax | dfnsFormat : 'D MMMM YYYY' }}</code>.
</p>
<p>
  This date <code>{{ threeDaysAgo | dfnsFormat : 'D MMMM YYYY' }}</code> was <code>{{ today | dfnsDifferenceInCalendarDays : threeDaysAgo }}</code> days ago.
</p>
<p>
  This app started <code>{{ today | dfnsDistanceInWords : now }}</code> ago, exactly <code>{{ today | dfnsDistanceInWordsStrict : now }}</code> ago.
</p>
