a.active, a:hover {
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: 1px solid #ccc;
}

.content {
  display: flex;
  margin-left: 20px;
  margin-top: 16px;
}
